#frontEndResult, #backEndResult, #fullStackResult {
  display: none;

}

.fancy {
  font-size: 400px;
  text-align: center;
  color: #00628B;
  padding: 25px 25px 25px 25px;

}

a {
  color: #81A594;

}


img {
  width: 100%;
  float: right;
  padding: 20px 0px 25px 25px;

}

.card {
  padding: 25px 25px 25px 25px;
  background-color: #E6E6DC;

}

#surveyForm {
    text-align: left;
    width: 100%;
    border: 2px solid #E6E6DC;
    padding: 25px;

}

.results {
  padding: 25px 0px 25px 0px;
  text-align: center;
  color: #00628B;

}

.description {
  text-align: left;
  color: black;
  
}
