#frontEndResult, #backEndResult, #fullStackResult {
  display: none;

}

.fancy {
  font-size: 400px;
  text-align: center;
  color: #00628B;

}

.bright {
  font-size: 100px;
  color: #81A594;

}

img {
  width: 100%;
  float: right;
  padding: 20px 0px 25px 25px

}

.card {
  padding: 25px 25px 25px 25px
}
